*{
    margin: 0;
    padding: 0;
}

body{
    height: 2000px;
}

.image{
    position: relative;
    width: 400px;
    margin-top: 200px;
    margin-left: 50px;
    display: inline-block;
}

.image1{
    position: relative;
    width: 400px;
    margin-top: 200px;
    margin-left: 300px;
    display: inline-block;
}

.image2{
    position: relative;
    width: 400px;
    margin-top: 200px;
    margin-left: 300px;
    display: inline-block;
}

.image__img{
    display: block;
    width: 100%;
}

.image__img1{
    display: block;
    width: 100%;
}

.image__img2{
    display: block;
    width: 100%;
}

.image__overlay, .image__overlay--blur, .image__overlay--primary{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #f2f2f2;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--blur{
    backdrop-filter: blur(50px);
}

.image__overlay--primary{
    background: coral;
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay--blur > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay--primary > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover{
    opacity: 1;
}

.image__overlay--blur:hover{
    opacity: 1;
}

.image__overlay--primary:hover{
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__overlay--blur:hover > * {
    transform: translateY(0);
}

.image__overlay--primary:hover > * {
    transform: translateY(0);
}

.image__title{
    font-size: 2em;
    font-weight: bold;
}

.image__description{
    font-size: 1.25em;
    margin-top: 0.25em;
}